# Node
node_modules/
dist/
.env

# Vite
.vite/

# .NET
bin/
obj/
*.user
*.suo
*.vs
*.db
*.log

# Configuration files with secrets
**/appsettings.Development.json
**/appsettings.*.json
!**/appsettings.json

# MacOS
.DS_Store
